.cartwrap>h2{
    margin-top: 50px;
}
.cart>ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cart>ul>li{
    width: 70%;
    margin-bottom: 50px;
    border: 1px solid #666;
    padding: 20px 0;
    border-left: none;
    border-right: none;
}
.cart>ul>li>figure{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    align-items: center;
}
.cart>ul>li>figure>img{
    margin-right: 100px;
    width: 300px;
    height: 300px;
}
.cart>ul>li>figure>figcaption{
    display: flex;
}
.cart>ul>li>figure>figcaption>dl>dt{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
.cart>ul>li>figure>figcaption>dl>dd{
    margin-bottom: 20px;
    font-size: 15px;
}
.cart>ul>li>figure>p{
    position: absolute;
    right: 0;
}
.cart>ul>li>figure>p>button{
    width: 150px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #666;
}
.cartwrap>.none{
    text-align: center;
    margin-top: 200px;
}