h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}
#containerwrap{
    width: 1920px;
    margin: 0 auto;
}
#containerwrap ul:first-of-type{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.banner{
        background-color: #666;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 20px;
        margin-bottom: 25px;
    }
.banner>dl{}
.banner>dl>dt{
    font-size: 20px;
}
.banner>dl>dd{
    font-size: 15px;
}
.banner>img{
    width: 200px;
    height: 200px;
}
#containerwrap>ul{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#containerwrap>ul>li{
    width: 23%;
    overflow: hidden;
}
#containerwrap>ul>li>a{
    text-decoration: none;
    color: #333;
}
#containerwrap>ul>li>a>figure{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#containerwrap>ul>li>a>figure>img{
    margin-bottom: 15px;
}
#containerwrap>ul>li>a>figure>figcaption{
    margin-bottom: 20px;
}
#containerwrap>ul>li>a>figure>figcaption>p{
    text-align: center;
}
#containerwrap>ul>li>a>figure>figcaption>h3{
    margin-bottom: 20px;
}
.swiper{
    margin-bottom: 50px;
}