h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}
#containerwrap{
    position: relative;
    width: 1920px;
    margin: 0 auto;
}
#containerwrap ul.product{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.banner{
        background-color: #cacaca;
        width: 100%;
        margin: 0 auto;
        padding: 20px 0;
        margin-bottom: 25px;
    }
.swiperwrap{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.swiperwrap>dl{
    margin-left: 50px;
}
.swiperwrap>dl>dt{
    font-size: 18px;
    margin-bottom: 50px;
}
.swiperwrap>dl>dd{
    font-size: 14px;
}
.swiperwrap>dl>h2{
    font-size: 30px;
}

#containerwrap>ul.product{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#containerwrap>ul.product>li{
    width: 23%;
    overflow: hidden;
}
#containerwrap>ul.product>li>a{
    text-decoration: none;
    color: #333;
}
#containerwrap>ul.product>li>a>figure{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#containerwrap>ul.product>li>a>figure>img{
    margin-bottom: 15px;
}
#containerwrap>ul.product>li>a>figure>figcaption{
    margin-bottom: 20px;
}
#containerwrap>ul>li>a>figure>figcaption>p{
    text-align: center;
}
#containerwrap>ul.product>li>a>figure>figcaption>h3{
    margin-bottom: 20px;
}
.swiper{
    margin-bottom: 50px;
}